#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pokemonCard{
  height: 40em;
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  background-color: grey;
  box-shadow: 0px 1px 12px 4px;
}

.pokemonCardImg{

  width: 25em;
  background: white;
  border-radius: 16px 16px 16px 16px;
  margin: 1.5rem;
  box-shadow: 0 0 11px 5px ;
  transition: 0.3s ease-in-out;
}


 .pokemonCard:hover{
  scale: 1.1;
  box-shadow: 0  0 15px 9px white;
 }

 .pokemonCardImg:hover{
  filter: drop-shadow(0 0 2em white);
  scale: 0.9;
  box-shadow: 0  0 15px 9px white;
 }
